<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<table border="1">
    <tr>
        <th><strong th:utext="Id">id</strong></th>
        <th><strong th:utext="Name">Name</strong></th>
        <th><strong th:utext="Login">Login</strong></th>
        <th><strong th:utext="Password">Password</strong></th>
        <th><strong th:utext="Roles">Roles</strong></th>
    </tr>

    <tr th:each="user : ${allUser}">

        <td>
            <a th:href="@{/userData/{id}(id = ${user.getId()})}" th:text="${user.getId()}"></a>
        </td>
        <td>
            <a th:href="@{/userData/{id}(id = ${user.getId()})}" th:text="${user.getName()}"></a>
        </td>
        <td>
            <a th:href="@{/userData/{id}(id = ${user.getId()})}" th:text="${user.getLogin()}"></a>
        </td>
        <td>
            <a th:href="@{/userData/{id}(id = ${user.getId()})}" th:text="${user.getPassword()}"></a>
        </td>
        <td>
            <a th:href="@{/userData/{id}(id = ${user.getId()})}" th:text="${user.getRoles()}"></a>
        </td>
    </tr>

</table>
<p><a href="/addUser">Добавить пользователя</a></p>
<a th:href="@{/logout}">Sign Out</a>
</body>
</html>