<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<table border="1">
    <tr>
        <th><strong th:utext="Id">id</strong></th>
        <th><strong th:utext="FirstName">FirstName</strong></th>
        <th><strong th:utext="LastName">LastName</strong></th>
        <th><strong th:utext="Email">Email</strong></th>
        <th><strong th:utext="Age">Age</strong></th>
        <th><strong th:utext="Roles">Roles</strong></th>
    </tr>

    <tr th:each="user : ${allUser}">

        <td>
            <a th:href="@{userData/{id}(id = ${user.getId()})}" th:text="${user.getId()}"></a>
        </td>
        <td>
            <a th:href="@{userData/{id}(id = ${user.getId()})}" th:text="${user.getFirstName()}"></a>
        </td>
        <td>
            <a th:href="@{userData/{id}(id = ${user.getId()})}" th:text="${user.getLastName()}"></a>
        </td>
        <td>
            <a th:href="@{userData/{id}(id = ${user.getId()})}" th:text="${user.getEmail()}"></a>
        </td>
        <td>
            <a th:href="@{userData/{id}(id = ${user.getId()})}" th:text="${user.getAge()}"></a>
        </td>
        <td>
            <a th:href="@{userData/{id}(id = ${user.getId()})}" th:text="${user.getRoles()}"></a>
        </td>
    </tr>

</table>
<p><a href="addUser">Добавить пользователя</a></p>
<a th:href="@{/logout}">Sign Out</a>
</body>
</html>