<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Карточка пользователя</title>
</head>
<body>
<h1 >Данные Пользователя</h1>
<table border="1">
    <tr>
        <th><strong>FirstName</strong></th>
        <th><strong>LastName</strong></th>
        <th><strong>Email</strong></th>
        <th><strong>Age</strong></th>
        <th><strong>Role</strong></th>
    </tr>
        <td th:utext="${myUser.getFirstName()}">FirstName</td>
        <td th:utext="${myUser.getLastName()}">LastName</td>
        <td th:utext="${myUser.getEmail()}">Email</td>
        <td th:utext="${myUser.getAge()}">Age</td>
        <td th:utext="${myUser.getRoles()}">Roles</td>

</table>
<a th:href="@{/logout}">Sign Out</a>



</body>
</html>