<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Карточка пользователя</title>
</head>
<body>
<p>Данные пользователя:</p>
<form method="post" action="/admin/updateUser">
    <p><input type="hidden" name="id" th:value="${myUser.getId()}"></p>
    <p><input type="text" name="firstName" th:value="${myUser.getFirstName()}"></p>
    <p><input type="text" name="lastName" th:value="${myUser.getLastName()}"></p>
    <p><input type="text" name="email" th:value="${myUser.getEmail()}"></p>
    <p><input type="text" name="age" th:value="${myUser.getAge()}"></p>
    <p><input type="text" name="password"></p>
    <select class="custom-select form-control" name="role" size="2">
        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
        <option value="ROLE_USER">ROLE_USER</option>
    </select>
    <p><input type="submit" value="Изменить"></p>
</form>


<p><a th:href="@{/admin/removeUser/{id}(id = ${myUser.getId()})}">Удалить</a></p>
<a th:href="@{/logout}">Sign Out</a>
</body>
</html>