<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Карточка пользователя</title>
</head>
<body>
<h1 >Данные Пользователя</h1>
<table border="1">
    <tr>
        <th><strong>Name</strong></th>
        <th><strong>Login</strong></th>
        <th><strong>Password</strong></th>
    </tr>

        <td th:utext="${myUser.getName()}">Name</td>
        <td th:utext="${myUser.getLogin()}">Login</td>
        <td th:utext="${myUser.getPassword()}">Password</td>



</table>
<a th:href="@{/logout}">Sign Out</a>



</body>
</html>