<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CRUD_MVC</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div  class="row" id="navbar">
    <div class="col bg-dark ">
        <nav class="navbar navbar-light bg-dark">
  <span class="navbar-text text-white">
      <b> <td th:utext="${user.email}"></td></b>
      <td>with roles:</td>
      <td th:utext="${user.roles}"></td>
  </span>
            <a class="nav-link text-secondary font-weight-boldt  text-right" href="/logout">Logout</a>
        </nav>
    </div>
</div>
